@charset "UTF-8";

/*Todas as demais mídias*/

   /*Typical Device Breakpoints
   Pequenas telas: até 600px
   Celulares: de 600px até 768
   Tablets: 768px até 992px
   Desktop: 992px até 1200px
   Grandes Telas: acima de 1200px   
*/
@media screen and (max-height: 350px) /* Versão Celular Deitado Landscape */
{
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82
        );
    }    
    section#login {        
        width: 80vw;
        height: 90vh;
    }
    div#formulario > h1{
        text-align: center;
        margin-bottom: 2px;
        font-size: 1.5em;
    }
    section#login > div#imagem{
        float: left;
        width: 60%;
        height: 100%;
    }
    section#login > div#imagem{
        float: right;
        width: 35%;
        height: 100%;
    }
    form > div.campo{
        background-color: #5f2c82;
        display: block;
        width: 62%;
        height: 35px;
        border-radius: 5px;
        margin: 5px 0px;
    }
    form > input[type=submit]{
        display: block;
        font-size: 1em;
        width: 62%;
        height: 30px;
        background-color: rgba(98, 150, 150, 0.641);
        color: aliceblue;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }
    form > a.botao{
        display: block;
        text-align: center;
        font-size: 1em;
        width: 62%;
        height: 35px;
        padding-top: 5px;
        margin-top: 5px;
        color:  rgb(3, 100, 100);
        background-color: rgb(249, 250, 250);
        border: 1px solid  rgb(2, 131, 131);
        border-radius: 7px;
        text-decoration: none;
    }
    div.campo > span {
        color: white;
        /*background-color: black;*/
        font-size: 1.7em;
        width: 45px;
        padding: 5px;
    }
    div.campo > input{
        background-color:rgba(178, 237, 237, 0.982);
        font-size: 1em;
        width: calc(100% -40px);
        height: 90%;
        border-radius: 8px;
        transform: translateY(-8px);
    }
    
}


@media screen and (min-width:768px) and (max-width: 992px) /* Versão Tablet */
{
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82
        );
    }
    section#login {
        width: 80vw;
    }
    section#login > div#imagem{
        float: right;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: left;
        width: 50%;
    } 
    div.campo > span {
        
        color: white;
        /*background-color: black;*/
        font-size: 1.8em;
        width: 39px;
        padding: 5px;
    }
    div.campo > input{
        
        background-color:rgba(178, 237, 237, 0.982);
        font-size: 1em;
        width: calc(100% - 44px);
        height: 90%;
        border-radius: 8px;
        transform: translateY(-8px);
 
    }   
}
@media screen and (min-width: 992px) {
    body{
        background-image: linear-gradient(to top, #49a09d, #5f2c82
        );
    }
    section#login{
        width: 950px;
    }
    section#login > div#imagem{
        float: left;
        width: 50%;
        height: 100%;
    }
    section#login > div#formulario {
        float: right;
        width: 50%;
    }    
    div#formulario > h1{
        font-size: 2em;
    }
    div#formulario > p{
        font-size: 1em;
        padding: 10px;
    }
    div.campo > span {
        
        color: white;
        /*background-color: black;*/
        font-size: 1.8em;
        width: 39px;
        padding: 5px;
    }
    div.campo > input{
        
        background-color:rgba(178, 237, 237, 0.982);
        font-size: 1em;
        width: calc(100% - 44px);
        height: 90%;
        border-radius: 8px;
        transform: translateY(-8px);
 
    } 
}